.zmienKolor
{
    color: red;
    font-size: 60px;
    background-color: lightgreen;
    margin-left: 10%;
    margin-right: 10%;
    
}
.wracaKolor
{
    color: black;
    font-size: 60px;
    background-color: green;
    margin-left: 10%;
    margin-right: 10%;
    
}
body{
    background-color: lightgray;
    /*
    margin-left: 10%;
    //margin-right: 10%;
    */
    
    /*
    margin-left: 100px;
    margin-right: 100px;
    */
}
.zmienWielkosc
{
    color: blue;
    font-size: 40px;
    background-color: lightskyblue;
    
}
/*
div.panel
{
    background-color: lightskyblue;
    align-items: center;
}
*/
/*
.tabliczkaM
{   
    border: 1px solid black;
    border-collapse: collapse;
}
*/
table, td, th {
  /*border: 2px solid black;  */
  /*width: 33.8%;*/
  /*text-align: center;*/
}
td.oferta
{
    width: 50%;
}


table {
  width: 100%;
  border-collapse: collapse;
  
  
}
.tdColor
{
    background-color: lightseagreen;
}
.tdNowyColor
{
    background-color: red;
}
#tooltip
{
    display: none;
    background-color: teal;
    position: absolute;
    width: 150px;
    height: 100px;
    text-align: center;
    line-height: 50px;
}
.przycisk
{
    background-color: yellow;
    width: 200px;
    height: 100px;
    
}
.przycisk_zmien
{
    background-color: green;
    width: 200px;
    height: 100px;
}
#toTopButton
{
    background-color: teal;
    width: 150px;
    height: 30px;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    display: none;
}
#toTopButton:hover
{
    background-color: cadetblue;
    color: red;
}
#wykrzyknik
{
    position: absolute;
}
#tabela01
{
    border: 1px solid black;
}
.groupBox
{
    width: 95%;
    margin: 20px auto 20px auto;
    background-color: rgba(45, 169, 107, 0.8);
}
.panel_przycisk
{
    width: 95%;
    margin: 20px auto 20px auto;
    text-align: center;
}
.legenda_groupBox
{
    padding: 1%;
    background-color: lightgray;
    /*background-color: rgba(45, 169, 107, 0.3);*/
}
#groupBox2
{
    width: 90%;
}
.panel_glowny
{
    width: 25%;
    height: 400px;
    background-color: #4062EB;
    padding-top: 0%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0%;
    /*padding: 3%;*/
    margin: 9px;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #777777;   
}
.panel_glowny_o_firmie
{
    width: 91%;
    /*height: 400px;*/
    background-color: #4062EB;
    padding-top: 0%;
    padding-left: 3%;
    padding-right: 3%;
    /*padding: 3%;*/
    /*margin-top: 100px;*/
    margin: 80px 9px 9px 9px;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #777777; 
    
}
#text_lewy_o_firmie
{
    width: 90%;
    float: left;
       
}
#text_prawy_o_firmie
{
    width: 90%;
    float: right;   
}
#text_lewy_oferta
{
    width: 90%;
    float: left;
}
#text_prawy_oferta
{
    width: 90%;
    float: right; 
}
.wyrownaj
{
    vertical-align: top;
    width: 50%;
}
.panel_lewy
{
    float: left;
}
.panel_srodek
{
    float: left;
    
}
.panel_srodek_ukryj
{
    display: none;
}
.panel_prawy
{
    float: left;
}
.panel_prawy_certyfikaty
{
    width: 31%;
    height: 100px;
    float: right;
    margin-right: 9px;
    padding-top: 2%;
}
.panel_lewy_certyfikaty
{
    width: 53%;
    height: 100px;
    float: left;
    margin-left: 9px;
}
.fundusze
{
    /*
    width: 400px;
    height: 80px;
    */
}
.panel_strona
{
    width: 950px;
    margin: 10px auto 10px auto;
    height: 400px;
    /*background-color: black;*/
    /*border: 1px solid black;*/
    display: block;
    position: relative;
    top: 1px;
    z-index: 1;
}
.panel_strona_o_firmie
{
    width: 950px;
    margin: 10px auto 10px auto;
    height: 700px;
    /*background-color: black;*/
    /*border: 1px solid black;*/
    display: block;
    position: relative;
    top: 1px;
    z-index: 1;
}
.przesuniecie_od_gory
{
    padding-top: 2px;
}
img.small_fundusze
{
    width: 100%;
    height: 20%;
}
img.zdjecie_dynamica
{
    width: 100%;
    height: 20%;
    border-radius: 10px;
}
img.zdjecie_certyfikaty
{
    width: 167px;
    height: 135px;
    float: left;
}
img.pdf_dotacje
{
    float: left;
}

div.panel_certyfikaty
{
    background-color: white;
    width: 98%;
    height: 135px;
    border-radius: 10px;
    padding: 1%;
}
div.panel_dotacje
{
    /*background-color: white;*/
    width: 98%;
    
    border-radius: 10px;
    padding-left:  2%;
    padding-top: 1px;
    /*background: linear-gradient(45deg, red, blue);*/
    background: linear-gradient(45deg, white, #00BFFF);
}

div.panel_dotacje:hover
{
    background: linear-gradient(45deg, #00BFFF, white);
}
.text_certyfikaty
{
    text-align: justify;
    font-family: Verdana;
    font-size: 0.75em;
    padding-right: 2%;
}
.text_dotacje
{
    font-family: Verdana;
    font-size: 0.95em;
    font-weight: bold;
}
.text_dotacje2
{
    /*font-family: Verdana;*/
    font-family: tahoma;
    font-size: 0.85em;
}
.link_podkresl
{
    text-decoration: underline;
}



#panel_images_down
{
    width: 950px;
    margin: 10px auto 10px auto;
    height: 300px;
    /*background-color: black;*/
    /*border: 1px solid black;*/
    display: block;
    position: relative;
    top: 1px;
    z-index: 1;
    
}
#panel_images_down_o_firmie
{
    width: 950px;
    margin: 10px auto 10px auto;
    height: 500px;
    /*background-color: black;*/
    /*border: 1px solid black;*/
    display: block;
    position: relative;
    top: 1px;
    z-index: 1;   
}
#panel_images_down_oferta
{
    width: 950px;
    margin: 740px auto 10px auto;
    height: 250px;
    /*background-color: black;*/
    /*border: 1px solid black;*/
    display: block;
    position: relative;
    top: 1px;
    z-index: 1;   
}
#panel_images_down_laboratorium
{
    width: 950px;
    margin: 160px auto 10px auto;
    height: 200px;
    /*background-color: black;*/
    /*border: 1px solid black;*/
    display: block;
    position: relative;
    top: 1px;
    z-index: 1;  
}
#panel_tlo
{
    width: 950px;
    margin: 10px auto 10px auto;
    background-color: #DCDCDC;
}
.panel_zdjecia
{
    width: 930px;
    height: 280px;
    margin: 10px auto 10px auto;
    /*background-color: red;*/
    display: block;
    position: relative;
    top: 80px;
    z-index: 1;
    
}
.text_panele
{
    color: white;
    text-align: justify;
    font-family: Verdana;
    font-size: 0.85em;
}
div.panel_pdf
{
    background-color: white;
    padding: 3%;
    font-family: Verdana;
    font-size: 0.75em;
}
div.panel_pdf:hover
{
    background-color: #87CEFA;
    color: white;
    padding: 3%;
    font-family: Verdana;
    font-size: 0.75em;
    text-decoration: underline;
}
.text_pogrubiony
{
    font-weight: bold;
}

#wiecej_lewy
{
    color: white;
    text-align: right;
    font-family: Verdana;
    font-style: italic;
    font-size: 0.85em;
}

h1
{
    color: white;
}
ul
{
    color: white;
    
    
}
ul.lista_certyfikaty
{
    color: black;
    text-align: justify;
    font-family: Verdana;
    font-size: 0.75em;
}
.certyfikaty
{
    
    background-color: #ffffff;
    padding-top: 0%;
    padding-left: 3%;
    padding-right: 3%;
    
    /*padding: 3%;*/
    margin-top: 9px;
    /*margin: 9px;*/
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #777777;
    
}



#header
{
    width: 100%;
    height: 80px;
    margin: 0px auto 0px auto;
    /*border: 1px solid black;*/
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}
#footer
{
    width: 100%;
    height: 80px;
    margin: 0px auto 0px auto;
    /*border: 1px solid black;*/
    background-color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 2;
}
#panel_in_header
{
    width: 940px;
    height: 50px;
    margin: 0px auto 0px auto;
    padding: 0px;
    /*border: 1px solid black;*/
}
#panel_in_footer
{
    width: 950px;
    height: 100%;
    margin: 0px auto 0px auto;
    padding: 0px;
    /*background: linear-gradient(#ffffff 20%, #696969);*/
    background: linear-gradient(#ffffff 20%, #A9A9A9);
    /*background: linear-gradient(to right, red 20%, orange 20% 40%, yellow 40% 60%, green 60% 80%, blue 80%);*/
    /*border: 1px solid black;*/
}
#stopka_adres
{
    padding-left: 40px;
    padding-top: 10px;
    /*font-family: "Courier New";*/
    font-family: Verdana;
    font-size: 0.85em;
    float: left;
}
#stopka_telefon_fax
{
    padding-left: 40px;
    padding-top: 10px;
    float: left;
    /*font-family: "Courier New";*/
    font-family: Verdana;
    font-size: 0.85em;
}
#stopka_adres_strony
{
    padding-left: 100px;
    padding-top: 10px;
    float: left;
    /*font-family: "Courier New";*/
    font-family: Verdana;
    font-size: 0.85em;
}

#select_comboBox
{
    width: 200px;
}
#panel_info
{
    width: 50%;
    background-color: greenyellow;
    padding: 3%;
    margin: 10px auto 10px auto;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #777777;
    display: none;
}
nav
{
    float: left;
}
#logo
{
    float: left;
    margin-left: 10px;
    padding: 1%;
    /*border: 1px solid black;  */
}
.menu
{
    /*list-style-type: none;*/
    width: 700px;
    height: 100px;
   
    
    
}
.kolor_text_menu
{
    color: red;
}
.menu_lista
{
    
    width: 100px;
    height: 40px;
    
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;   
    text-align: center;  
    padding-top: 20px;

    margin-top: 10px;
    float: left;
    display: block;
    
    
}
.menu_lista:hover
{
    box-shadow: -5px -5px 5px #777777;
    border: 1px solid black;
}
.menu_lista_szerokosc
{
    
    width: 150px;
}

a
{
   text-decoration: none; 
   color: black;
}
.kolor_link
{
    color: white;
}

.text
{
    font-family: serif;
    font-size: 18px;
}














